/* Website Title: 2nd Site
  Author: Chip Morris
  Author Site: Portfolio using only CSS (no Bootstrap)
  Version: 1.0.0
*/


/* Global */

body {
  height: 100%;
  background-image: url('images/background-737622_960_720.jpg');
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

#line1, #line2{
  width: 565px;
  margin-top: 1px;
}

#line2 {
  width: 505px;
}


/* Introduction - Main Focus */
.intro, .intro_sub {
  text-align: center;
  font-variant: small-caps;
  font-size: 50px;
  color: #ABDBE5;
  letter-spacing: 2px;
}

.intro_sub {
  font-size: 27px;
  margin-top: -34px;
}

.warning {
  text-align: center;
  color: #E51F0F;
  font-weight: bold;
  margin-top: -35px;
}

.eye_logo,
.lines_logo,
.wheel_logo,
.arrow_logo {
  height: 42px;
  width: 42px;
  padding-left: 480px;
  margin-top: 10px;
}

.lines_logo,
.wheel_logo,
.arrow_logo {
  height: 40px;
  width: 40px;
  padding-left: 90px;
}

.wheel_logo {
  padding-left: 96px;
}

.arrow_logo {
  padding-left: 111px;
}


/* Left Side Bar */
.ANSI,
aside {
  margin-left: 22%;
  margin-top: 1px;
  color: #ABDBE5;
}

.skill_set,
aside {
  text-align: left;
  font-variant: small-caps;
  font-size: 16px;
  color: #ABDBE5;
}

aside {
  margin-left: 21%;
  font-size: 25px;
}

.my_progress
 {
  width: 40%;
  height: 10px;
  background-color: #ddd;
}

.my_bar_html {
  width: 80%;
  height: 100%;
  background-color: #4CAF50;
}

.my_bar_css {
  width: 80%;
  height: 100%;
  background-color: #4CAF50;
}

.my_bar_SQL {
  width: 60%;
  height: 100%;
  background-color: #4CAF50;
}

.my_bar_JScript {
  width: 50%;
  height: 100%;
  background-color: #4CAF50;
}

.my_bar_Unix {
  width: 70%;
  height: 100%;
  background-color: #4CAF50;
}

.my_bar_Git {
  width: 70%;
  height: 100%;
  background-color: #4CAF50;
}

.my_bar_Mongo {
  width: 50%;
  height: 100%;
  background-color: #4CAF50;
}

.my_bar_Angular {
  width: 60%;
  height: 100%;
  background-color: #4CAF50;
}

.my_bar_Bootstrap {
  width: 80%;
  height: 100%;
  background-color: #4CAF50;
}

.my_bar_Crud {
  width: 50%;
  height: 100%;
  background-color: #4CAF50;
}

.my_bar_Pair {
  width: 60%;
  height: 100%;
  background-color: #4CAF50;
}

.my_bar_Responsive {
  width: 75%;
  height: 100%;
  background-color: #4CAF50;
}

.flex-container {
  width: 100%;
  display: flex;
  /*border: 3px solid black;*/
  flex-direction: row;
}

.flex-item {
  /*border: 1px solid red;*/
  flex: 2;
  font-size: 14px;
  text-align: justify;
  margin: 11px;
}

.flex-item h4  {
  text-align: center;
  /*margin-left: -26px;*/
}

.flex-item.item1,
.flex-item.item3 {
  flex: 1;
  margin-top: -309px;
  /*color: #ABDBE5;
  font-size: 25px;
  font-variant: small-caps;*/
}




/* Headline */
#link {
  font-family: 'Josefin Slab', serif;
  text-align: center;
}

/* About Me */
.about_me {
  font-weight: bold;
}

.bio {
  color: #ABDBE5;
  font-size: 18px;
  text-align: center;
}

.bio img {
  border-radius: 10px;
  height: 140px;
  margin-left: 19px;
}

.comment {
  margin-left: 23px;
}






