/* Website: March 2016
  Author: Chip Morris
  Author Site: Link to my portfolio
  Version: 1.0.0
*/

/* Global */

body {
  height: 100%;
  background-image: url('images/background-737622_960_720.jpg');
  background-size: cover;
  font-family: 'Poppins', sans-serif;

}

hr {
  width: 500px;
  margin-top: 1px;
}


/* Introduction - Main Focus */
.intro {
  text-align: center;
  font-variant: small-caps;
  font-size: 50px;
  color: #ABDBE5;
  letter-spacing: 2px;
  border: 2px solid blue;
}

.intro_sub {
  text-align: center;
  font-variant: small-caps;
  font-size: 27px;
  color: #ABDBE5;
  margin-top: -34px;
  letter-spacing: 2px;
  border: 2px solid red;
}

.warning {
  text-align: center;
  color: #E51F0F;
  font-weight: bold;
  margin-top: -35px;
}

.about_me_logo {
  height: 42px;
  width: 42px;
  padding-left: 480px;
  margin-top: 10px;
}

.projects_logo {
  height: 40px;
  width: 40px;
  padding-left: 90px;
  margin-top: 10px;
}

.work_history_logo {
  height: 40px;
  width: 40px;
  padding-left: 96px;
  margin-top: 10px;
}

.education_logo {
  height: 40px;
  width: 40px;
  padding-left: 111px;
  margin-top: 10px;
}


/* Headline */
#link {
  font-family: 'Josefin Slab', serif;
  text-align: center;
}

/* About Me */
.about_me {
  margin-top: -8px;
  font-weight: bold;
  color: white;
  /*font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #ABDBE5;
  border: 2px solid black;
  height: 400px;
  margin: 5px;*/
}

.bio {
  text-align: center;
  color: #ABDBE5;
  width: 831px;
  margin-left: 293px;
}

/*.projects {
  border: 1px solid blue;
  text-align: center;
  width: 831px;
  margin-left: 293px;
}*/

/* Side Bar */
.ANSI {
  margin-left: 64px;
  margin-top: 1px;
  position: relative;
  top: -320px;
}

aside {
  margin-left: 73px;
  position: relative;
  top: -330px;
}

.side_bar {
  margin-right: 1050px;
  color: #ABDBE5;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 25px;
  position: relative;
  top: -340px;
  letter-spacing: 1px;
}

.skill_set {
  text-align: left;
  font-variant: small-caps;
  font-size: 16px;
  position: relative;
  top: -350px;
}

.my_progress_html {
  position: relative;
  width: 40%;
  height: 10px;
  background-color: #ddd;
}

.my_bar_html {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #4CAF50;
}

.my_progress_css {
  position: relative;
  width: 40%;
  height: 10px;
  background-color: #ddd;
}

.my_bar_css {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #4CAF50;
}

.my_progress_SQL {
  position: relative;
  width: 40%;
  height: 10px;
  background-color: #ddd;
}

.my_bar_SQL {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #4CAF50;
}

.my_progress_JScript {
  position: relative;
  width: 40%;
  height: 10px;
  background-color: #ddd;
}

.my_bar_JScript {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #4CAF50;
}

.my_progress_Unix {
  position: relative;
  width: 40%;
  height: 10px;
  background-color: #ddd;
}

.my_bar_Unix {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #4CAF50;
}

.my_progress_Git {
  position: relative;
  width: 40%;
  height: 10px;
  background-color: #ddd;
}

.my_bar_Git {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #4CAF50;
}

.my_progress_Mongo {
  position: relative;
  width: 40%;
  height: 10px;
  background-color: #ddd;
}

.my_bar_Mongo {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #4CAF50;
}

.my_progress_Angular {
  position: relative;
  width: 40%;
  height: 10px;
  background-color: #ddd;
}

.my_bar_Angular {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #4CAF50;
}

.my_progress_Bootstrap {
  position: relative;
  width: 40%;
  height: 10px;
  background-color: #ddd;
}

.my_bar_Bootstrap {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #4CAF50;
}

.my_progress_Crud {
  position: relative;
  width: 40%;
  height: 10px;
  background-color: #ddd;
}

.my_bar_Crud {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #4CAF50;
}

.my_progress_Pair {
  position: relative;
  width: 40%;
  height: 10px;
  background-color: #ddd;
}

.my_bar_Pair {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #4CAF50;
}

.my_progress_Responsive {
  position: relative;
  width: 40%;
  height: 10px;
  background-color: #ddd;
}

.my_bar_Responsive {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #4CAF50;
}


